@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: var(--light-gray);
}

.header-container h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--logo-col);
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.shopping-cart-icon {
    margin-right: 44px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 25px;
}

.item-count {
    position: absolute;
    top: 18px;
    right: 52px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 15px;
}

@media (max-width: 744px) {
    .header-container h1{
        width: 160px;
    }
}

