@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--light-gray);
}

:root {
  --logo-col: rgba(58, 72, 149, 1);
  --black-col: rgba(40, 40, 40, 1);
  --gray-col: rgba(148, 148, 148, 1);
  --white-col: rgba(252, 252, 252, 1);
  --blue-col: rgba(82, 100, 195, 1);
  --yellow-col: rgba(255, 216, 20, 1);
  --red-col: rgba(249, 5, 5, 1);
  --light-gray: rgba(239, 239, 239, 1);
}