.product-detail-container {
    width: 60vw;
    height: auto;
    margin-top: 6vh;
    margin-bottom: 8vh;
    margin-left: 25vw;
    background-color: var(--white-col);
    display: flex;
    align-items: center;
    gap: 10vw;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.product-detail-container img {
    width: 15vw;
    height: 29vh;
    margin-left: 8vw;
}

.product-details {
    width: 17vw;
}

.product-details h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--black-col);
    margin-bottom: 31px;
}

.product-details .product-price{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: var(--black-col);
    margin-bottom: 24px;
}

.product-details h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--black-col);
    margin-bottom: 9px;
}

.product-details p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--black-col);
    margin-bottom: 8px;
}

.product-details button {
    width: 156px;
    height: 41px;
    background-color: var(--yellow-col);
    border: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: Inter;
}

/*I feel that the media query should be changed around 900px*/

@media (max-width: 744px) {
    .product-page {
        height: 120vh;
        width: 100vw;
    }

    .product-detail-container {
        flex-direction: column;
        width: 90vw;
        height: auto;
        margin-left: 5vw;
        margin-top: 0;
        padding-top: 4vh;
        padding-bottom: 3vh;
    }

    .product-details{
        width: 45vw;
        display: flex;
        flex-direction: column;
    }

    .product-detail-container img {
        width: 35vw;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }

    .product-details button{
        margin: 2px auto 4vh auto;
        /*margin-bottom: 4vh;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

}

@media (max-width: 428px) {
    .product-detail-container{
        margin-inline: 11vw;
        margin-top: 6vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        width: 81vw;
    }

    .product-detail-container img {
        margin-top: 2vh;
        margin-left: 0;
    }

    .product-details{
        width: 55vw;
    }
}